In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

path = "drive/MyDrive/ÖneriSistemleri/Database"
credits_df = pd.read_csv(path + "/tmdb_5000_credits.csv")
movies_df = pd.read_csv(path + "/tmdb_5000_movies.csv")

In [ ]:
movies_df.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
credits_df.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
credits_df.shape

(4803, 4)

In [ ]:
movies_df.shape

(4803, 20)

In [ ]:
credits_df.columns = ['id','title','cast','crew']

In [ ]:
movies_df = movies_df.merge(credits_df, on="id")

In [ ]:
movies_df.head()

      budget  ...                                               crew
0  237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1  300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [ ]:
movies_df.shape

(4803, 23)

In [ ]:
from ast import literal_eval

features = ["cast", "crew", "keywords", "genres"]
for feature in features:
    movies_df[feature] = movies_df[feature].apply(literal_eval)
movies_df[features].head(10)

                                                cast  ...                                             genres
0  [{'cast_id': 242, 'character': 'Jake Sully', '...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1  [{'cast_id': 4, 'character': 'Captain Jack Spa...  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'cast_id': 1, 'character': 'James Bond', 'cr...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3  [{'cast_id': 2, 'character': 'Bruce Wayne / Ba...  ...  [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4  [{'cast_id': 5, 'character': 'John Carter', 'c...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
5  [{'cast_id': 30, 'character': 'Peter Parker / ...  ...  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...
6  [{'cast_id': 34, 'character': 'Flynn Rider (vo...  ...  [{'id': 16, 'name': 'Animation'}, {'id': 10751...
7  [{'cast_id': 76, 'character': 'Tony Stark / Ir...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
8  [{'cast_id': 3, 'character': 'Harry Potter', '...  ...  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
9  [{'cast_id': 18, 'character': 'Bruce Wayne / B...  ...  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...

[10 rows x 4 columns]

In [ ]:
def get_director(x):
    for i in x:
        if i["job"] == "Director":
            return i["name"]
    return np.nan

In [ ]:
def get_list(x):
    if isinstance(x, list):
        names = [i["name"] for i in x]
        if len(names) > 3:
            names = names[:3]
        return names
    return []

In [ ]:
import numpy as np

movies_df["director"] = movies_df["crew"].apply(get_director)
features = ["cast", "keywords", "genres"]
for feature in features:
    movies_df[feature] = movies_df[feature].apply(get_list)

In [ ]:
movies_df.head(10)

      budget  ...           director
0  237000000  ...      James Cameron
1  300000000  ...     Gore Verbinski
2  245000000  ...         Sam Mendes
3  250000000  ...  Christopher Nolan
4  260000000  ...     Andrew Stanton
5  258000000  ...          Sam Raimi
6  260000000  ...       Byron Howard
7  280000000  ...        Joss Whedon
8  250000000  ...        David Yates
9  250000000  ...        Zack Snyder

[10 rows x 24 columns]

In [ ]:
movies_df[['original_title', 'cast', 'director', 'keywords', 'genres']].head()

                             original_title  ...                                genres
0                                    Avatar  ...          [Action, Adventure, Fantasy]
1  Pirates of the Caribbean: At World's End  ...          [Adventure, Fantasy, Action]
2                                   Spectre  ...            [Action, Adventure, Crime]
3                     The Dark Knight Rises  ...                [Action, Crime, Drama]
4                               John Carter  ...  [Action, Adventure, Science Fiction]

[5 rows x 5 columns]

In [ ]:
def clean_data(row):
    if isinstance(row, list):
        return [str.lower(i.replace(" ", "")) for i in row]
    else:
        if isinstance(row, str):
            return str.lower(row.replace(" ", ""))
        else:
            return ""
features = ['cast', 'keywords', 'director', 'genres']
for feature in features:
    movies_df[feature] = movies_df[feature].apply(clean_data)

In [ ]:
movies_df.head(10)

      budget  ...          director
0  237000000  ...      jamescameron
1  300000000  ...     goreverbinski
2  245000000  ...         sammendes
3  250000000  ...  christophernolan
4  260000000  ...     andrewstanton
5  258000000  ...          samraimi
6  260000000  ...       byronhoward
7  280000000  ...        josswhedon
8  250000000  ...        davidyates
9  250000000  ...        zacksnyder

[10 rows x 24 columns]

In [ ]:
def create_soup(features):
    return ' '.join(features['keywords']) + ' ' + ' '.join(features['cast']) + ' ' + features['director'] + ' ' + ' '.join(features['genres'])
movies_df["soup"] = movies_df.apply(create_soup, axis=1)
print(movies_df["soup"].head())

0    cultureclash future spacewar samworthington zo...
1    ocean drugabuse exoticisland johnnydepp orland...
2    spy basedonnovel secretagent danielcraig chris...
3    dccomics crimefighter terrorist christianbale ...
4    basedonnovel mars medallion taylorkitsch lynnc...
Name: soup, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
count_vectorizer = CountVectorizer(stop_words="english")
count_matrix = count_vectorizer.fit_transform(movies_df["soup"])
print(count_matrix.shape)
cosine_sim2 = cosine_similarity(count_matrix, count_matrix) 
print(cosine_sim2.shape)
movies_df = movies_df.reset_index()
indices = pd.Series(movies_df.index, index=movies_df['original_title'])

(4803, 11520)
(4803, 4803)

In [ ]:
indices = pd.Series(movies_df.index, index=movies_df["original_title"]).drop_duplicates()
print(indices.head())

original_title
Avatar                                      0
Pirates of the Caribbean: At World's End    1
Spectre                                     2
The Dark Knight Rises                       3
John Carter                                 4
dtype: int64

In [ ]:
def get_recommendations(title, cosine_sim):
    idx = indices[title]
    similarity_scores = list(enumerate(cosine_sim[idx]))
    similarity_scores= sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similarity_scores= similarity_scores[1:11]
    # (a, b) where a is id of movie, b is similarity_scores
    movies_indices = [ind[0] for ind in similarity_scores]
    movies = movies_df["original_title"].iloc[movies_indices]
    return movies

In [ ]:
print("################ Content Based System #############")
print("Recommendations for Titanic")
print(get_recommendations("Titanic", cosine_sim2))
print()
print("Recommendations for Avatar")
print(get_recommendations("Avatar", cosine_sim2))

################ Content Based System #############
Recommendations for Titanic
1081             Revolutionary Road
4247          Me You and Five Bucks
49                 The Great Gatsby
872              All the King's Men
1311                     Angel Eyes
1492                     The Reader
2449          Sense and Sensibility
2661                 Romeo + Juliet
2701                Little Children
2946    What's Eating Gilbert Grape
Name: original_title, dtype: object

Recommendations for Avatar
206                         Clash of the Titans
71        The Mummy: Tomb of the Dragon Emperor
786                                西游记之孙悟空三打白骨精
103                   The Sorcerer's Apprentice
131                                     G-Force
215                4: Rise of the Silver Surfer
466                            The Time Machine
715                           The Scorpion King
1      Pirates of the Caribbean: At World's End
5                                  Spider-Man 3
Name: original_title, dtype: object